<p id="notice"><%= notice %></p>

<h1>Listing Cases</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity in case</th>
      <th>Expiration date</th>
      <th>Location</th>
      <th>Case type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |c| %>
      <tr>
        <td><%= c.product %></td>
        <td><%= c.quantity_in_case %></td>
        <td><%= c.expiration_date %></td>
        <td><%= c.location %></td>
        <td><%= c.case_type %></td>
        <td><%= link_to 'Show', c %></td>
        <td><%= link_to 'Edit', edit_case_path(c) %></td>
        <td><%= link_to 'Destroy', c, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
