<p id="notice"><%= notice %></p>

<h1>Listing Cases</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity in case</th>
      <th>Expiration date</th>
      <th>Location</th>
      <th>Case type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cases.each do |case| %>
      <tr>
        <td><%= case.product %></td>
        <td><%= case.quantity_in_case %></td>
        <td><%= case.expiration_date %></td>
        <td><%= case.location %></td>
        <td><%= case.case_type %></td>
        <td><%= link_to 'Show', case %></td>
        <td><%= link_to 'Edit', edit_case_path(case) %></td>
        <td><%= link_to 'Destroy', case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case', new_case_path %>
