<p id="notice"><%= notice %></p>

<p>
  <strong>Upc:</strong>
  <%= @order_item.upc %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Order item status:</strong>
  <%= @order_item.order_item_status %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_item.order %>
</p>

<p>
  <strong>Quantity picked:</strong>
  <%= @order_item.quantity_picked %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
